<ion-view>
  <ion-content class="padding main-bg-container">
    <div ng-hide="home.profiles.length" class="card-empty-popup">
      <p>Currently there is no card to show</p>
    </div>
    <div class="card-container" ng-show="home.profiles.length">
      <td-cards>
        <td-card id="td-card" class="card-{{$index}}"
                 ng-repeat="profile in home.profiles"
                 on-swipe-left="home.nope($index)"
                 on-swipe-right="home.like($index)">
          <div class="image">
            <div class="no-text">NOPE</div>
            <img ng-src="{{profile.avatar}}">
            <div class="yes-text">LIKE</div>
          </div>
          <div class="bio-container">
            <h1>{{profile.name}}</h1>
            <p><i class="ion-man"></i> {{profile.age}}</p>
          </div>

        </td-card>
      </td-cards>
    </div>
    <div class="row like-unlike-icons">
      <div class="col col-40 text-right">
        <span ng-click="home.nope(home.currentIndex)">
          <i class="icon ion-close-round"></i>
        </span>
      </div>
      <div class="col col-20 text-center">
        <span class="icon-heart" ng-click="home.like(home.currentIndex)">
          <i class="icon ion-heart"></i>
        </span>
      </div>
      <div class="col col-40">
        <span ng-click="home.infoWindow(home.currentIndex)">
          <i class="icon ion-information text-left"></i>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
