<ion-view>
  <ion-content class="story-container has-header main-bg-container">
    <td-cards ng-if="show">
      <td-card id="td-card" class="card-{{$index}}"
               ng-repeat="swip in swipeimages" on-destroy="cardDestroyed($index)">
        <div class="image">
          <img ng-src="{{swip.avatar}}" alt="#">
        </div>
        <div class="item">
          <p>{{swip.name}}</p>
        </div>
      </td-card>
    </td-cards>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-positive footer-container has-footer">
    <button class="button" ng-click="resetImages()">
      Reset Story
    </button>
  </ion-footer-bar>
</ion-view>
