.main-bg-container {
   background: url("../img/home-bg.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  .profile-container {
    .border-bottom {
      border-bottom: 2px solid $base-color;
      padding-bottom: 10px;
      margin-bottom: 20px;
      img {
        width: 370px;
        height: 420px;
        display: block;
        margin: 0 auto;
      }
      h2 {
        font-family: $font-family;
        font-size: 25px;
        color: $base-color;
      }
    }
    p {
      color: $base-color;
      font-family: $font-family;
      font-size: 21px;
    }
  }
  .card-container {
    height: 460px;
    display: inline-block;
    width: 100%;
    td-card {
      margin-top: 10px;
      //left: 50%;
      margin-bottom: 40px;
      margin-left: -170px;
      width: 100%;
      //height: 400px;
      border: none;
      box-shadow: none;
      border-radius: 6px;
      .td-card {
        img {
          //width: 100%;
          //height: 350px;
          border-radius: 10px 10px 0 0;
        }
      }
      .bio-container {
        background: $base-color;
        width: 100%;
        height: 110px;
        border-radius: 10px;
        margin-top: -10px;
        padding-top: 15px;
        h1 {
          text-align: center;
          color: $primary-color;
          font-family: $font-family;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p {
          text-align: center;
          font-size: 23px;
          color: $primary-color;
          font-family: $font-family;
        }
      }
    }
  }
  .like-unlike-icons {
    span {
      width: 50px;
      height: 50px;
      background: $base-color;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      padding: 10px 0;
      color: $primary-color;
      i {
        font-size: 26px;
      }
    }
    .icon-heart {
      color: #a800a2;
      i {
        font-size: 32px;
      }
    }
  }
}
.match-container {
  h6 {
    font-size: 18px;
    color: $primary-color;
    font-family: $font-family;
    font-weight: bold;
    margin: 20px 0 20px 10px;
  }
  .swipe-container {
    display: flex;
    .img-container {
      width: 30%;
      display: inline-block;
      position: relative;
      img {
        border-radius: 50%;
        display: inline-block;
        width: 100px;
        height: 110px;
      }
    }
    .detail-container {
      width: 100%;
      display: inline-block;
      padding: 35px 0 0 12px;
      h2 {
        color: $primary-color;
      }
      p {
        font-size: 12px;
        color: lightgrey;
      }
    }
  }
  .button.button-assertive {
    background: $primary-color;
  }
}
